<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
      body {
          font-family: "Open Sans", sans-serif;
      }
  </style>
  <title>Index</title>
</head>

<body>
  <h1>SciGEM Data Store</h1>
  <p>Try a url like <code>'https://data.scigem.com:5000/v1/test-dataset?locations=-10,120'</code> to get started, and see <a href="https://www.opentopodata.org">opentopodata</a> for full documentation.</p>
</body>

</html>
